/* Checkbox.module.css */

.wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.customBox {
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease;
}

.checked::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #4a4cd3;
  clip-path: polygon(14% 44%, 0% 65%, 50% 100%, 100% 30%, 80% 15%, 43% 62%);
  display: block;
}
