:root {
  --color-organization: #111e6c;

  --color-primary: #7485e5;
  --color-primary-100: #e5e8fb;
  --color-primary-bg: #e5e8fb;
  --color-primary-200: #cad1f8;
  --color-primary-focus: #cad1f8;
  --color-primary-300: #b0baf4;
  --color-primary-border: #b0baf4;
  --color-primary-400: #95a3f1;
  --color-primary-500: #7485e5;
  --color-primary-600: #5c69b2;
  --color-primary-presed: #5c69b2;
  --color-primary-700: #3e4677;
  --color-primary-800: #1f233b;
  --color-primary-900: #000000;

  --color-our-choice: #dedede;
  --color-our-choice-100: #f8f8f8;
  --color-our-choice-200: #f2f2f2;
  --color-our-choice-300: #ebebeb;
  --color-our-choice-400: #e5e5e5;
  --color-our-choice-500: #dedede;
  --color-our-choice-600: #a7a7a7;
  --color-our-choice-700: #6f6f6f;
  --color-our-choice-800: #383838;
  --color-our-choice-900: #000000;

  --color-complementary: #eddc7b;
  --color-complementary-100: #f4eab0;
  --color-complementary-300: #fdfbef;
  --color-complementary-500: #eddc7b;

  --color-success: #479e55;
  --color-success-presed: #32653a;
  --color-success-border: #66c575;
  --color-success-focus: #a8e3b1;
  --color-success-bg: #c6f5ce;

  --color-danger: #de4949;
  --color-danger-presed: #ba2a2a;
  --color-danger-border: #f56b6b;
  --color-danger-focus: #f99999;
  --color-danger-bg: #ffc8c8;

  --color-warning: #daa51a;
  --color-warning-presed: #b78400;
  --color-warning-border: #efbe3e;
  --color-warning-focus: #ffd976;
  --color-warning-bg: #ffe7a7;

  --color-info: #4973de;
  --color-info-presed: #2a4ba1;
  --color-info-border: #9cb8ff;
  --color-info-focus: #7ca1ff;
  --color-info-bg: #9cb8ff;

  --color-badge-counter: #49cd3d;
  --color-coming-soon: #e27220;
}

.shadow {
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.text-regular {
  font-family: Peyda;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.text-medium {
  font-family: Peyda;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}

.text-smei-bold {
  font-family: Peyda;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}
